<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msa.hack4health">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRCodeReader"
            android:label="@string/title_activity_qrcode_reader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cadastro"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable" />
        </activity>
        <activity
            android:name=".ListaPacientes"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardFarmaceutico"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoardMedico"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InformacaoPaciente" />
        <activity android:name=".AlterarProntuario" />
        <activity android:name=".DashboardEnfermeiro" />
        <activity android:name=".DashboarMultiTarefa" />
        <activity android:name=".MenuEnfermeiro" />
        <activity
            android:name=".ConfereQr"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checklists"
            android:label="Com Vida"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>